.c_app {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 100vh;
}
.c_wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1;
  flex: 1 1;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  min-height: 100vh;
  transition: margin 0.3s;
}
.c_body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.c_main {
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 0;
  padding-top: 2rem;
}